{template 'common/header'}

<ul class="nav nav-tabs">
      <li {if $operation == 'list'} class="active" {/if}><a href="{php echo  $this->createWebUrl('maintain', array('op'=>'list'));}">维修网点列表</a></li>
       <li {if $operation == 'add'} class="active" {/if}><a href="{php echo  $this->createWebUrl('maintain', array('op'=>'add'));}">维修网点添加</a></li>
        <li {if $operation == 'edit'} class="active" {/if}><a>维修网点信息修改</a></li>
</ul>
<div class="clearfix"> 
    <form id="theform" class="form form-horizontal" action="{php echo  $this->createWebUrl('maintain', array('op'=>'update'));}" method="post">
    
        <div class="panel panel-default">
            <div class="panel-heading">
                维修网点信息修改
            </div>
            <div class="panel-body">
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">维修网点名称</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="name" value="{$maintain_edit['name']}" class="form-control">
                    </div>
                </div>
                <input type="hidden" name="id" value="{$maintain_edit['id']}">
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">联系电话</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="tell" name="tell" value="{$maintain_edit['tell']}" class="form-control">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">营业时间</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="start" value="{$maintain_edit['start']}" class="form-control">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">门店地址</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="position" value="{$maintain_edit['position']}" class="form-control">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">门店经度</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="lng" value="{$maintain_edit['lng']}" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">门店纬度</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="lat" value="{$maintain_edit['lat']}" class="form-control">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">所属区县</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="address" value="{$maintain_edit['address']}" class="form-control">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">营业厅展示图</label>
                    <div class="col-sm-9 col-xs-12">
                      {php echo tpl_form_field_image('photo',$maintain_edit['photo']);}
                    </div>
                 </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-md-2 col-lg-1">
                        <input name="submit" type="submit" value="修改" class="btn btn-primary btn-block">
                        <input type="hidden" name="token" value="85616f84">
                    </div>
                </div>
                
            </div>
            
        </div>
    </form>
</div>